html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: solid 2px black;
}

.square {
    width: 30px;
    height: 30px;
}

.snake {
    background-color: greenyellow;
}

.apple {
    background-color: blue;
}